################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/TaskManager.slnx
/TaskManager.API/obj
/TaskManager.Application/obj
/TaskManager.Domain/obj
/TaskManager.API/TaskManager.API.csproj.Backup.tmp
